<div class="row">
    <div class="col-md-12">
        <h1 translate>Consent Form</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>This experiment looks at how music can influence your emotional state, through on-body sensors and self-report questionnaires. The experiment will last approximately 12 minutes. If you have any questions please ask a member of the staff or contact the researchers at the email address provided below.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>By clicking the 'Continue' button below you agree to participate in this experiment, that this agreement is of your own free will and that you have had the opportunity to ask any questions you may have about this study.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>You may also quit the experiment at any time by clicking the 'Emotion in Motion' link at the top-left corner of the screen.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>Any personal information provided by you will be kept strictly confidential and you will not be personally identifiable by any information provided.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>Should you require any further information please contact the researchers conduction this experiment (Benjamin Knapp, Javier Jaimovich, and Brennon Bortz) at emotion.in.motion@musicsensorsemotion.com. If you have any questions regarding your rights as a human research participant, please contact Dr. David Moore at Virginia Polytechnic Institute and State University's Institutional Review Board at moored@vt.edu.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p translate>If you consent to the above terms, click 'Continue'. Otherwise, click 'Cancel Experiment'.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg btn-danger"
                ng-click="startOver()" translate>Cancel
            Experiment</button>
        <button class="btn btn-primary btn-lg btn-success" ng-click="advanceSlide()" translate>Continue</button>
    </div>
</div>
