<div data-ng-controller="HomeController">
    <div class="jumbotron">
        <h1 translate>Welcome</h1>

        <p translate>to Emotion in Motion</p>

        <p><a class="btn btn-primary btn-lg" ng-disabled="!readyToAdvance" ng-click="advanceSlide()" translate>Start Experiment</a></p>
    </div>
    <!--<div class="container">-->
        <div class="row">
            <div class="col-md-6 text-right">
                <img class="welcome-logo" src="modules/core/img/muse.png" />
            </div>
            <div class="col-md-6 text-left">
                <img class="welcome-logo" src="modules/core/img/sg.png" />
            </div>
        </div>
    <!--</div>-->
    <display-trial-data></display-trial-data>
</div>