<div data-ng-controller="MediaQuestionnaireController">

  <questionnaire questionnaire-data="questionnaireData" on-questionnaire-value-changed="setResponse(path, value, associated)"></questionnaire>

  <div class="row">
    <div class="col-md-12">
      <p>
        <button ui-sref="media-playback" class="btn btn-primary btn-lg"
                ng-disabled="!debugMode && musicalForm.$invalid">
          Continue
        </button>
      </p>
    </div>
  </div>
  <display-trial-data></display-trial-data>
</div>
