<div data-ng-controller="MediaPlaybackController">
  <div class="row">
    <div class="col-md-12">

      <h1 translate>Media Playback</h1>

      <p translate>In a moment, a media excerpt will be played. Please make sure you are comfortable, and try to keep your left hand still during listening. When you are ready click the Begin Playback button.</p>

      <p translate>After the excerpt has played, click the button to Continue.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-lg" ng-click="buttonAction()" ng-disabled="buttonDisabled">{{currentButtonLabel | translate}}</button>
    </div>
  </div>

  <display-trial-data></display-trial-data>
</div>