<div data-ng-controller="DemographicsController">
    <div class="row">
        <div class="col-md-12">

            <h1>Musical Background</h1>

            <form name="musicalForm" class="form" novalidate>
                <label for="musicianRadio" class="radio control-label">Do you consider yourself a musician or to have
                    specialist
                    musical knowledge?</label>

                <div class="radio-inline" id="musicianRadio">
                    <label>
                        <input type="radio" name="musicianYes" id="musicianRadioYes" ng-model="subject.musician"
                               ng-change="musicianChanged(subject.musician)"
                               value="true" required>
                        Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="musicianNo" id="musicianRadioNo" ng-model="subject.musician"
                               ng-change="musicianChanged(subject.musician)"
                               value="false" required>
                        No
                    </label>
                </div>

                <br/>

                <label>On a scale of 1 to 5, how would you rate your musical expertise, with 1 being no expertise
                    whatsoever and
                    5
                    being an expert.</label>

                <slider-scale use-image="false"
                              slider-ng-model="musicalExpertise" slider-floor="1" slider-ceiling="5" slider-step="1"
                              slider-stretch="0" slider-initial-value="3" required></slider-scale>

                <label for="hearingImpairmentsRadio" class="radio control-label">Do you have any hearing impairments?
                    (If so,
                    you may still participate in the experiment!)</label>

                <div class="radio-inline" id="hearingImpairmentsRadio">
                    <label>
                        <input type="radio" name="hearingImpairmentsYes" id="hearingImpairmentsRadioYes"
                               ng-model="subject.hearingImpairments"
                               ng-change="hearingImpairmentsChanged(subject.hearingImpairments)"
                               value="true" required>
                        Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="hearingImpairmentsNo" id="hearingImpairmentsRadioNo"
                               ng-model="subject.hearingImpairments"
                               ng-change="hearingImpairmentsChanged(subject.hearingImpairments)"
                               value="false" required>
                        No
                    </label>
                </div>

                <br/>

                <label for="hearingImpairmentsRadio" class="radio control-label">Do you have any visual impairments? (If
                    so, you
                    may still participate in the experiment!)</label>

                <div class="radio-inline" id="visualImpairmentsRadio">
                    <label>
                        <input type="radio" name="visualImpairmentsYes" id="visualImpairmentsRadioYes"
                               ng-model="subject.visualImpairments"
                               ng-change="visualImpairmentsChanged(subject.visualImpairments)"
                               value="true" required>
                        Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="visualImpairmentsNo" id="visualImpairmentsRadioNo"
                               ng-model="subject.visualImpairments"
                               ng-change="visualImpairmentsChanged(subject.visualImpairments)"
                               value="false" required>
                        No
                    </label>
                </div>

                <br/>

                <label for="stylesCheckboxes" class="checkbox control-label">Select all of the following styles to which
                    you regularly listen</label>

                <div class="checkbox-inline" id="stylesCheckboxes">
                    <label>
                        <input type="checkbox" name="styleRock" id="styleRock"
                               ng-model="subject.styles.rock"
                               ng-change="stylesChanged(subject.styles.rock)"
                               value="true">
                        Rock
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="stylePop" id="stylePop"
                               ng-model="subject.styles.pop"
                               ng-change="stylesChanged(subject.styles.pop)"
                               value="true">
                        Pop
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleClassical" id="styleClassical"
                               ng-model="subject.styles.classical"
                               ng-change="stylesChanged(subject.styles.classical)"
                               value="true">
                        Classical
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleJazz" id="styleJazz"
                               ng-model="subject.styles.jazz"
                               ng-change="stylesChanged(subject.styles.jazz)"
                               value="true">
                        Jazz
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleDance" id="styleDance"
                               ng-model="subject.styles.dance"
                               ng-change="stylesChanged(subject.styles.dance)"
                               value="true">
                        Dance
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleHipHop" id="styleHipHop"
                               ng-model="subject.styles.hipHop"
                               ng-change="stylesChanged(subject.styles.hipHop)"
                               value="true">
                        Hip-Hop
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleFolk" id="styleFolk"
                               ng-model="subject.styles.folk"
                               ng-change="stylesChanged(subject.styles.folk)"
                               value="true">
                        Folk
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleWorld" id="styleWorld"
                               ng-model="subject.styles.world"
                               ng-change="stylesChanged(subject.styles.world)"
                               value="true">
                        World
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="styleNone" id="styleNone"
                               ng-model="subject.styles.none"
                               ng-change="stylesChanged(subject.styles.none)"
                               value="true">
                        None
                    </label>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <button ui-sref="musical-background" class="btn btn-primary btn-lg" ng-disabled="musicalForm.$invalid">
                    Continue
                </button>
            </p>
        </div>
    </div>
    <display-trial-data></display-trial-data>
</div>