<div>
  <div class="row">
    <div class="col-md-12">

      <h1>Heart Sensor</h1>

      <p>Now, insert your index finger into the grey plastic clip. Your finger should touch the rubber stopper at the end.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="/modules/core/img/hand-pox.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a ui-sref="signal-test" class="btn btn-primary btn-lg">Continue</a></p>
    </div>
  </div>
</div>