<div data-ng-controller="SignalTestController">
  <div class="row">
    <div class="col-md-12">

      <h1 translate>Sensor Tests</h1>

      <p translate>We are now checking to make sure that we are reading your signals correctly. Please keep your hand still until the indicators show that both signals are good!</p>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-md-6">
      <div>
        <h2 translate>Skin Sensor</h2>
        <button class="btn btn-lg btn-signal" ng-class="{'btn-danger': !edaQuality, 'btn-success': edaQuality}">{{ edaQuality ? "Signal OK" : "No Signal" | translate }}</button>
      </div>

    </div>
    <div class="col-md-6">
      <div>
        <h2 translate>Heart Sensor</h2>
        <button class="btn btn-lg btn-signal" ng-class="{'btn-danger': !poxQuality, 'btn-success': poxQuality}">{{ poxQuality ? "Signal OK" : "No Signal" | translate }}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <p translate>If either sensor does not display 'Signal OK', please contact a mediator for assistance. When both sensors display 'Signal OK', click 'Continue'.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><a class="btn btn-primary btn-lg" ng-disabled="!readyToAdvance()" data-ng-click="advanceSlide()" translate>Continue</a></p>
    </div>
  </div>
</div>
