<div data-ng-controller="SignalTestController">
  <div class="row">
    <div class="col-md-12">

      <h1>Sensor Tests</h1>

      <p>We are now checking to make sure that we are reading your signals correctly. Please keep your hand still until the indicatos show that both signals are good!</p>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-md-6">
      <div>
        <h2>Skin Sensor</h2>
        <button class="btn btn-lg btn-danger">No Signal</button>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h2>Heart Sensor</h2>
        <button class="btn btn-lg btn-danger">No Signal</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- TODO: Send start signal check message -->
      <p class="text-danger">TODO: Send start signal check message</p>

      <!-- TODO: Add signal check listeners -->
      <p class="text-danger">TODO: Add signal check listeners</p>

      <p>If either sensor does not display 'Signal OK', please contact a mediator for assistance. When both sensors display 'Signal OK', click 'Continue' and wait for a moment as we make a test recording.</p>

      <!-- TODO: Send start test recording -->
      <p class="text-danger">TODO: Send start test recording</p>

      <!-- TODO: Add test recording complete listener -->
      <p class="text-danger">TODO: Add test recording complete listener</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a ui-sref="demographics" class="btn btn-primary btn-lg">Continue</a></p>
    </div>
  </div>
</div>