<div data-ng-controller="SoundTestController">
  <div class="row">
    <div class="col-md-12">

      <h1>Sound Test</h1>

      <p>
        Please put on the provided headphones. Left and right ears are indicated on the headset.
      </p>

      <p>
        If you can’t hear any sound through the headphones, please ask a staff member for assistance.
      </p>

      <p>
        If you can hear sound through the headphones, please click 'Continue' to proceed.
      </p>

      <!-- TODO: Build scale directive -->
      <p class="text-danger">TODO: Send start/end test sound signal</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button ui-sref="eda-instructions" class="btn btn-primary btn-lg" ng-click="stopSoundTest()">Continue</button>
    </div>
  </div>
  <div class="row">
    <!-- TODO: Ensure that all data is reset on any visit to this page (reloading and clicking a link) -->
    <p class="text-danger">TODO: Ensure that all data is reset on any visit to this page (reloading <em>and</em> clicking a link)</p>
  </div>
  <display-trial-data></display-trial-data>
</div>