<div data-ng-controller="SoundTestController">
  <div class="row">
    <div class="col-md-12">

      <h1>Sound Test</h1>

      <p>
        Please put on the provided headphones. Left and right ears are indicated on the headset.
      </p>

      <p>
        If you can’t hear any sound through the headphones, please ask a staff member for assistance.
      </p>

      <p>
        If you can hear sound through the headphones, please click 'Continue' to proceed.
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a ui-sref="eda-instructions" class="btn btn-primary btn-lg">Continue</a></p>
    </div>
  </div>
</div>