<div class="row" data-ng-controller="SoundTestController">
  <div class="col-md-12">

    <h1>Sound Test</h1>

    <p>
      <span class="text-center">Please place the sensors on the fingers of your LEFT hand as indicated in the photos below. During the listening part of the experiment please keep this hand as still as possible. Wrap the velcro straps around the tips your 2 middle fingers, making sure that the small metal plate is against the skin of the inside of your finger. The straps should be tight but not so tight that it is uncomfortable.</span>
    </p>
    <!-- FIXME: Add images of hands/sensors -->
    <p><a ui-sref="eda-instructions" class="btn btn-primary btn-lg">Continue</a></p>
  </div>
</div>