<div data-ng-controller="StartController">
  <div class="row">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="col-md-12">
      <h1>Instructions</h1>

      <h2>Hello, and welcome to the <em>Emotion in Motion</em> experiment!</h2>

      <p>We would like you to wear some sensors that will monitor your heart and skin while you listen to three short
        pieces of music. After each piece, you will be asked some questions about how the music made you feel.</p>

      <p>The songs that you will hear will be selected randomly.</p>

      <p>The experiment will last approximately 15 minutes.</p>

      <p>Please indicate your answers by selecting the relevant checkboxes or clicking on the 5-point scale. Many
        questions require you to respond with such a 5-point scale. As such, an example is provided here for you to try
        before beginning the experiment. You may either click anywhere along the scale to move the button to your
        selected answer, or select your answer by clicking and dragging the button itself.</p>

      <form>
        <slider-scale use-image="false"
                      slider-ng-model="none" slider-floor="1" slider-ceiling="5" slider-step="1"
                      slider-stretch="0" slider-initial-value="3"></slider-scale>
      </form>


      <p><a ui-sref="sound-test" class="btn btn-primary btn-lg" ng-disabled="!readyToAdvance()">Continue</a></p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <!-- TODO: Add language selection -->
      <p class="text-danger">TODO: Add language selection</p>
    </div>
  </div>

  <display-trial-data></display-trial-data>
</div>