<div data-ng-controller="StartController">
  <div class="row">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | translate}}</alert>
    <div class="col-md-12">
      <h1 translate>Instructions</h1>

      <h2 translate>Hello, and welcome to the <em>Emotion in Motion</em> experiment!</h2>

      <p translate>We would like you to wear some sensors that will monitor your heart and skin while you listen to two short media excerpts. After each excerpt, you will be asked some questions about how what you heard made you feel. The first excerpt will be a non-musical sound. The second, will be a musical excerpt selected randomly.</p>

      <p translate>The experiment will last approximately 12 minutes.</p>

      <p><a class="btn btn-primary btn-lg" ng-disabled="!readyToAdvance()" ng-click="advanceSlide()" translate>Continue</a></p>
    </div>
  </div>

  <display-trial-data></display-trial-data>
</div>