<div class="row" data-ng-controller="LastScreenController">
    <div class="col-md-12">

        <h1 translate>Thank You</h1>

        <p translate>You can now remove the sensors from your hand.</p>

        <p translate>For more information about this experiment, please visit us at: www.musicsensorsemotion.com</p>

        <p translate>Or, contact us at: emotion.in.motion@musicsensorsemotion.com</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-primary btn-lg" data-ng-click="advanceSlide()" translate>Complete Experiment</a></p>
    </div>
</div>

<display-trial-data></display-trial-data>


<scale-question question-label="qText" single-img-src="img/single.png" question-id="power"
                minimum-description="Lower description" maximum-description="Upper description"
                controller-data-path="data.answers.ratings.power" class="ng-scope ng-isolate-scope">
    <div class="row well ng-scope">
        <div class="row">
            <div class="col-md-12 text-center"><h3 translate="">qText<span class="ng-scope">qText</span></h3></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center"><img src="img/single.png"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <div class="col-md-5ths text-center"><input type="radio" name="powerRadioGroup" id="powerRadioGroup1"
                                                            value="1" required="" ng-model="powerRadioGroup"
                                                            class="ng-pristine ng-valid"></div>
                <div class="col-md-5ths text-center"><input type="radio" name="powerRadioGroup" id="powerRadioGroup2"
                                                            value="2" required="" ng-model="powerRadioGroup"
                                                            class="ng-pristine ng-valid"></div>
                <div class="col-md-5ths text-center"><input type="radio" name="powerRadioGroup" id="powerRadioGroup3"
                                                            value="3" required="" ng-model="powerRadioGroup"
                                                            class="ng-pristine ng-valid"></div>
                <div class="col-md-5ths text-center"><input type="radio" name="powerRadioGroup" id="powerRadioGroup4"
                                                            value="4" required="" ng-model="powerRadioGroup"
                                                            class="ng-pristine ng-valid"></div>
                <div class="col-md-5ths text-center"><input type="radio" name="powerRadioGroup" id="powerRadioGroup5"
                                                            value="5" required="" ng-model="powerRadioGroup"
                                                            class="ng-pristine ng-valid"></div>
                <div class="row">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 small text-left" translate="">Lower description<span
                    class="ng-scope">Lower description</span></div>
            <div class="col-md-4"></div>
            <div class="col-md-2 small text-right" translate="">Upper description<span class="ng-scope">Upper description</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</scale-question>, length: 1}

