<div class="row">
    <div class="col-md-12">

        <h1>Thank You</h1>

        <p>You can now remove the sensors from your hand.</p>

        <p>For more information about this experiment, please visit us at: musicsensorsemotion.com</p>

        <p>Or, contact us at: emotion.in.motion@musicsensorsemotion.com</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-primary btn-lg" data-ng-click="advanceSlide()">Complete Experiment</a></p>
    </div>
</div>

<display-trial-data></display-trial-data>
