<div class="row" data-ng-controller="LastScreenController">
    <div class="col-md-12">

        <h1 translate>Thank You</h1>

        <p translate>You can now remove the sensors from your hand.</p>

        <p translate>For more information about this experiment, please visit us at: www.musicsensorsemotion.com</p>

        <p translate>Or, contact us at: emotion.in.motion@musicsensorsemotion.com</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-primary btn-lg" data-ng-click="advanceSlide()" translate>Complete Experiment</a></p>
    </div>
</div>

<display-trial-data></display-trial-data>
