.content {
	margin-top: 100px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.clearBoth {
    clear: both;
}

slider {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 100%;
    margin: 25px 5px 25px 5px;
    vertical-align: middle;
}
slider span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}
slider span.base {
    width: 100%;
    height: 100%;
    padding: 0;
}
slider span.bar {
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #F5F5F5;
    -webkit-border-radius: 1em/1em;
    border-radius: 1em/1em;
    border: 1px solid #E3E3E3;
}
slider span.bar.selection {
    width: 0;
    z-index: 1;
    background: #F5F5F5;
}
slider span.pointer {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 1px;
    background-color: #fff;
    border: 1px solid #5a5a5a;
    z-index: 2;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
slider span.pointer:after {
    content: '';
    background-color: #2C3B44;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

slider span.pointer:hover:after {
    background-color: #000;
}
slider span.pointer.active:after {
    background-color: #FF5C17;
}
slider span.bubble {
    cursor: default;
    top: -20px;
    padding: 1px 3px 1px 3px;
    font-size: 0.8em;
    font-family: sans-serif;
}
slider span.bubble.selection {
    top: 15px;
}
slider span.bubble.limit {
    color: #808080;
    visibility: hidden;
}

slider span.bar.steps {
    background-color: #449d44;
}

div.cover {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

div.cover.blackout {
    background: #000000;
    z-index: 1;
}

label.questionLabel {
    width: 100%;
    text-align: center;
}

div.sliderAnnotation {
    text-align: center;
    font-size: smaller;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*.questionSpacer {*/
    /*height: 30px;*/
/*}*/

/*scale-question,*/
/*checkbox-question,*/
/*dropdown-question,*/
/*radio-question {*/
/*}*/