.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
app/tests/coverage/
.bower-*/
.idea/
daemon/
application.log
config/custom.js
.foreverignore
MaxMSP/EmotionInMotion/data/**
MaxMSP/EmotionInMotion/_DeletedItems
.coveralls.yml
coverage/
server-coverage.sh
