.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
app/tests/coverage/
.bower-*/
.idea/
daemon/
application.log
config/terminal.js
.foreverignore
trials/**
EiMpatch/media/**
EiMpatch/data/**
EiMpatch/_DeletedItems
.coveralls.yml
coverage/